:Root {
--blue: #6899ca; 
--green: green;
}

.header{
   
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
background-color: var(--blue);
}
.portfolio{
    border: 15px solid var(--green);
    padding: 50px;
    margin: 20px;  
    max-width: 300px;
    flex:wrap;
    flex-direction:;
}
.card{

}
.about-me{
   
    border: 15px solid var(--green);
    padding: 50px;
    margin: 20px;
}

.footer{
    
    border: 15px solid var(--green);
    padding: 50px;
    margin: 20px;
}