:Root {
    background-image: linear-gradient(to top,white,black);
--blue: #7281d8; 
--green: rgb(61, 173, 61);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
--bgc: 
}

.header{
    border: 15px solid var(--green);
    padding: 50px;
    margin: 20px;
background-color: var(--blue);
border-radius: 20px;
}
.header a{
    text-decoration: none;
    color:azure;
}
.header li{
    color: azure;
    list-style-type: none;
    display: inline;
    margin-left: 30px;
}

.portfolio{ 
    padding: 50px;
    margin: 20px;      
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border-radius: 10px;
    border: solid ;
    max-width: 300px;
    margin: 10%;
    box-shadow: 13px 14px 5px 0px rgba(0,0,0,0.78);
    background-image:url();
}
.card a{
    color: azure;
    text-decoration: none;
    background-color: blueviolet;
    padding: 30px;
    display: flex;
    border-radius: 10px;
}
h2 {
    margin-top: -30px;
    border:solid;
    background-image: linear-gradient(to right,rgb(64, 209, 64),black);
    border-radius: 10px;
}
.card-body{
    padding:30px;
}
.card:first-child{
    padding:10%;
    border-color: aqua;
    margin-inline:25%;
    padding-top: 0px;
}
.card:hover{
    border-color:grey;
    border-width: 10px;
    box-shadow: 28px 24px 5px 0px rgba(0,0,0,0.56);
    background-color: rgb(192, 179, 204);
}
.about-me{
    background-color: var(--blue);
    border: 15px solid var(--green);
    padding: 50px;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    color: azure;
    max-width: 1000px;
}
h1{
    position:absolute;
    bottom: 0px;
    left:180px;
}
.about-me img{
    border: solid;
    border-width: 10px;
    border-radius: 100%;
}
.about-me p{
position: absolute;
left: 520px;
top:50px;
}

.footer{
    background-color: var(--blue);
    border: 15px solid var(--green);
    padding: 50px;
    margin: 20px;
    color:azure;
    border-radius: 20px;
}
.footer li{
    list-style-type:none;
    margin-bottom: 20px;
}
.footer a{
    color:azure;
   text-decoration: none;
}
@media screen and (max-width: 768px) {
    .header li{
    display: block;
    margin-bottom: 20px;
    }
    .about-me p{
        position:static;
        max-width: 160px;
    }
  }
  @media screen and (max-width: 576px) {
    body {
        background-image: linear-gradient(to top,rgb(190, 30, 156),black);
      background-color: rgb(190, 30, 156);
    }
    .about-me img{
        max-height: 120px;
        max-width: 120px;
    
    }

    h1{
        position: static;
    }
  }